[Unit]
Description=Asus health charging utility

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/asus-health-charging --restore
Restart=on-failure

[Install]
WantedBy=multi-user.target
